@import '../../variables';

.admin-container {
    display: flex;
    width: 100%;
    margin-top: 35px;
    border: 1px solid red;

    .left-side {
        border: 1px solid blue;
        display: flex;
        flex-basis: 10%;
    }

    .right-side {
        display: flex;
        flex-basis: 50%;
        justify-content: center;
    }
}