@import '../../variables';

.nav-link-container {
	background-color: $cyan-blue-color;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;

	li {
		padding: 0 10px;
	}

	.nav-link, .user-name, .admin {
		cursor: pointer;
		color: $ivory-color;
		text-decoration: none;
	}

	.admin {
		color: $red-color;
	}

	.links-container {
		list-style: none;
		display: flex;
		justify-content: flex-end;
	}

	.group-name {
		display: flex;
		justify-content: start;
		align-items: center;
		padding: 0 10px;

		.something {
			font-size: 80px;
			position: absolute;
			top: 100px;
			left: 50px;
		}
	}
}
