// Media Queries
// --------------------
$screen-xs-min: 425px;
$screen-sm-min: 500px;
$screen-md-min: 720px;
$screen-lg-min: 960px;
$screen-xl-min: 1200px;

// Media Query Mixins
// --------------------
@mixin xsmall {
	@media (min-width: #{$screen-xs-min}) {
		@content;
	}
}
@mixin small {
	@media (min-width: #{$screen-sm-min}) {
		@content;
	}
}
@mixin medium {
	@media (min-width: #{$screen-md-min}) {
		@content;
	}
}
@mixin large {
	@media (min-width: #{$screen-lg-min}) {
		@content;
	}
}
@mixin xlarge {
	@media (min-width: #{$screen-xl-min}) {
		@content;
	}
}

// Containers
// --------------------
$min-width: 320px;
$sm-max-width: 1200px;
$max-width: 1440px;
$lg-max-width: 1680px;
$full-width: 100%;

// Typography
// --------------------
$helvetica-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$arial-font-family: 'Arial Narrow', Arial, 'Helvetica Neue', Helvetica, sans-serif;
$georgia-font-family: Georgia, Times, 'Times New Roman', serif;
$open-sans-font-family: 'Open Sans', 'Lato', 'Roboto', Helvetica, Arial, sans-serif;
$test: 'Ubuntu';

$h1-font-size: 24px;
$h2-font-size: 18px;
$h3-font-size: 16px;
$xs-font-size: 12px;
$sm-font-size: 14px;
$md-font-size: 16px;
$lg-font-size: 18px;
$xl-font-size: 20px;
$xxl-font-size: 22px;

// Colors
// --------------------

// General
$white-color: #FFFFFF;
$white-color-opaque: rgba(255, 255, 255, 0.5);
$black-color: #000;
$red-color: #e81b00;
$green-color: #4BB543;

// Project Specific
$cyan-color: #9fc7d9;
$cyan-blue-color: #244f7b;
$gold-color: #f6b516;
$flat-orange: #f8c291;
$flat-red: #fc5c65;
$ivory-color: #f6efe3;
$grey-color: #a5b1c2;
$dark-grey-color: #6d7681;
$light-grey-color: #dfe6e9;
