@import '../../variables';

// Bets LIST Container
.bets-container {
    display: flex;
    flex-direction: row;
    // margin: 35px 0 0 0;

    h3 {
        text-align: center;
        color: $cyan-blue-color;
    }

    .create-bet-btn {
        position: absolute;
        top: 56.5px;
        right: 20px;
    }

    .pending-bets {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
    }

    .active-bets {
        display: flex;
        flex-direction: column;
        flex-basis: 50%;

        //! Temporary
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $white-color-opaque;
            color: $red-color;
            font-size: 50px;
            text-align: center;
            height: 100%;
        }
    }
}

// Bet Item Container
.bet-item-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    flex-wrap: wrap;

    .full-bet-card {
        // width: 100%;

        .bet-time-limit {
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid $cyan-blue-color;
            padding: 20px;
        }

        .bet-challenger {
            display: flex;
            align-items: center;
            padding: 10px;
            margin: 0 auto;

            span {
                font-weight: 700;
            }
        }

        .bet-card {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: $white-color-opaque;
            border: 1px solid $cyan-blue-color;
        }

        .bet-voting {
            display: flex;
            flex-direction: column;
            background-color: $ivory-color;
            border-left: 1px solid $cyan-blue-color;
            min-width: 42px;
            padding: 0 10px;

            .voting {
                margin: 5px;

                &.bet-approval {
                    border-bottom: 1px solid $cyan-blue-color;
                    padding: 0 0 10px 0;
                }
            }
        }

        .more-details {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $ivory-color;
            margin: 0 63px 0 0;
            height: 30px;

            border-right: 1px solid $cyan-blue-color;
            border-bottom: 1px solid $cyan-blue-color;
            border-left: 1px solid $cyan-blue-color;
        }

        .more-details-container {
            display: flex;
            flex-direction: column;
            background-color: $cyan-blue-color;
            color: $ivory-color;
            transition: height 1s ease;
            margin: 0 63px 0 0;
            height: 0;
            overflow: hidden;

            border-right: 1px solid $cyan-blue-color;
            border-bottom: 1px solid $cyan-blue-color;
            border-left: 1px solid $cyan-blue-color;

            &.show {
                //! Work out this approach
                height: 150px;
            }

            .created-date {
                display: flex;
                justify-content: flex-end;
                padding: 5px 10px 0 0;
            }

            .bet-title {
                font-size: 16px;
                font-weight: 700;
                padding: 2px 0 2px 5px;
            }

            .bet-details {
                padding: 0 0 5px 10px;
            }

            .bet-summary-container {
                display: flex;
                flex-direction: column;

                .bet-summary {
                    font-size: 16px;
                    font-weight: 700;
                    padding: 2px 0 2px 5px;
                }
            }

            .bet-terms-container {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
            }
        }
    }

    .fa-thumbs-up { color: $cyan-color; }
    .fa-thumbs-down { color: $flat-red; }
}

// Create Bet Container
.create-bet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .button-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        button {
            margin: 10px 0 0 20px;
            width: 100px;
        }

        .submit {
            color: $white-color;
            background-color: $cyan-blue-color;
        }

        .cancel {
            background-color: $light-grey-color;
        }
    }

    .error-input {
		border: 2px solid $red-color;
    }
    
    .placeholder-error {
        color: red;
        opacity: 1; /* Firefox */
    }

	.error-text {
        display: flex;
        justify-content: center;;
		color: $red-color;
		margin: 0 auto;
		text-align: center;
    }

    .create-bet {
        display: flex;
        flex-direction: column;
        margin: 40px 0 0 0;

        label {
            display: flex;
            justify-content: center;
            margin: 5px 0;
        }

        .bet-terms-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            .dollar-bill {
                position: relative;
                display: block;

                &:before {
                    position: absolute;
                    content: '$';
                    top: 8px;
                    left: 6px;
                }
            }

            .bet-terms {
                display: flex;
                flex-direction: column;
                justify-content: center;
                flex-wrap: wrap;
                margin: 0 10px 0 0;

                select {
                    height: 35px;
                }
            }

            .cash-amounts {
                display: flex;
                flex-direction: column;
                width: 100px;
                margin: 0 0 0 15px;
            }

            .meal-price {
                display: flex;
                flex-direction: row;

                .meal-price-limit {
                    display: flex;
                    flex-direction: column;
                    width: 100px;
                    margin: 0 18px;
                }

                .restaurant {
                    display: flex;
                    flex-direction: column;
                    width: 153px;
                }
            }

            .other-bet {
                display: flex;
                flex-direction: column;
                width: 289px;
            }
        }

        .bet-timelines {
            display: flex;
            flex-direction: row;
            // justify-content: space-evenly;

            .bet-completion {
                display: flex;
                flex-direction: column;
                margin: 0 28px 0 0;
                width: 136px;
            }

            .approval-period {
                display: flex;
                flex-direction: column;
            }
        }
    }

    textarea { resize: none }

    .form {
        width: 400px;
        background-color: $white-color-opaque;
        padding: 10px 35px 35px;
        
        input {
            height: 30px;
            text-align: center;
        }
        select {
            height: 35px;
            text-align: center;
        }
    }
}
