@import '../../variables';

// Bets Container
.bets-container {

    .create-bet-btn {
        display: flex;
        justify-content: flex-end;
        margin: 20px 20px 0 0;
    }

    // Bet Item Container
    .bet-item-container {
        display: flex;
        flex-direction: column;
        margin: 10px;
        flex-wrap: wrap;

        .full-bet-card {
            width: 50%;

            .bet-time-limit {
                display: flex;
                justify-content: center;
                align-items: center;
                border-right: 1px solid $cyan-blue-color;
                padding: 20px;
            }

            .bet-challenger {
                display: flex;
                align-items: center;
                padding: 10px;
                margin: 0 auto;

                span {
                    font-weight: 700;
                }
            }

            .bet-card {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                background-color: $white-color-opaque;
                border: 1px solid $cyan-blue-color;
            }
    
            .bet-voting {
                display: flex;
                flex-direction: column;
                background-color: $ivory-color;
                border-left: 1px solid $cyan-blue-color;
                min-width: 42px;
                padding: 0 10px;
    
                .voting {
                    margin: 5px;
    
                    &.bet-approval {
                        border-bottom: 1px solid $cyan-blue-color;
                        padding: 0 0 10px 0;
                    }
                }
            }
    
            .more-details {
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $ivory-color;
                margin: 0 63px 0 0;
                height: 30px;
    
                border-right: 1px solid $cyan-blue-color;
                border-bottom: 1px solid $cyan-blue-color;
                border-left: 1px solid $cyan-blue-color;
            }
    
            .more-details-container {
                display: flex;
                flex-direction: column;
                background-color: $cyan-blue-color;
                color: $ivory-color;
                transition: height 1s ease;
                margin: 0 63px 0 0;
                height: 0;
                overflow: hidden;
    
                border-right: 1px solid $cyan-blue-color;
                border-bottom: 1px solid $cyan-blue-color;
                border-left: 1px solid $cyan-blue-color;
    
                &.show {
                    height: 100px;
                }
            }
    
            .bet-details {
                // display: flex;
                // align-items: center;
            }
        }

        .fa-thumbs-up { color: $cyan-color; }
        .fa-thumbs-down { color: $flat-red; }
    }
}

// Create Bet Container
.create-bet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .button-container {
        display: flex;
        flex-direction: column;

        button {
            margin: 10px 0 0 0;
            width: 100%;
        }

        .cancel {
            background-color: $flat-red;
        }
    }

    .error-input {
		border: 2px solid $red-color;
    }
    
    .placeholder-error {
        color: red;
        opacity: 1; /* Firefox */
    }

	.error-text {
        display: flex;
        justify-content: center;;
		color: $red-color;
		margin: 0 auto;
		text-align: center;
    }

    .create-bet {
        display: flex;
        flex-direction: column;
        margin: 40px 0 0 0;

        label {
            display: flex;
            justify-content: center;
            margin: 5px 0;
        }

        .bet-terms-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;

            .bet-terms {
                display: flex;
                flex-direction: column;
                justify-content: center;
                margin: 0 20px 0 0;
            }

            .cash-amounts {
                display: flex;
                flex-direction: column;
                width: 100px;
            }
        }
    }

    textarea { resize: none }

    .form {
        width: 400px;
        background-color: $white-color-opaque;
        padding: 10px 35px 35px;
        
        input { height: 25px; }
        select { height: 32.5px; }
    }
}
