@import '../../variables';

// Bets Container
.bets-container {

    .create-bet-btn {
        display: flex;
        justify-content: flex-end;
        margin: 20px 20px 0 0;
    }

    // Bet Item Container
    .bet-item-container {
        .fa-thumbs-up { color: $cyan-color; }
        .fa-thumbs-down { color: $flat-red; }
    }
}

// Create Bet Container
.create-bet-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .button-container {
        display: flex;
        flex-direction: column;

        button {
            margin: 10px 0 0 0;
            width: 100%;
        }

        .cancel {
            background-color: $flat-red;
        }
    }

    .error-input {
		border: 2px solid $red-color;
	}

	.error-text {
		color: $red-color;
		width: 300px;
		margin: 0 auto;
		text-align: center;
    }

    .create-bet {
        display: flex;
        flex-direction: column;

        label {
            display: flex;
            justify-content: center;
            margin: 5px 0;
        }
    }

    textarea { resize: none }

    .form {
        width: 400px;
        background-color: $white-color-opaque;
        padding: 10px 35px 35px;
        
        input { height: 25px; }
        select { height: 32.5px; }
    }
}
