@import '../../variables';

// Login && Forgot Password
.login-container, .forgot-password-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	form {
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin: 0 5em;

		.login-buttons {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			margin: 10px;
		}

		button {
			margin: 0 5px;
		}
	}

	input {
		margin: 3px 0;
		padding: 4px;
		width: 30em;
	}

	.error-input {
		border: 2px solid $red-color;
	}

	.error-text {
		color: $red-color;
		width: 300px;
		margin: 0 auto;
		text-align: center;
	}

	.success-text {
		color: $cyan-blue-color;
		width: 300px;
		margin: 0 auto;
		text-align: center;
	}

	.forgot-password > a {
		color: $cyan-blue-color;
		font-weight: bold;
		text-decoration: none;
	}

	.unique-button {
		background: $cyan-color;
		margin: 10px 0 5px 0;
	}
}
